<html>
	<body>
		<h2>Hello utilisateur {{ name }} !</h2>
		<h2>Menu principal</h2>
		<h3>Opérations simples</h3>
		<hr/>
		<dl>
			<dt><b>Projet réalisé par les étudiants de {{university}}</b></dt>
			<dd>Cursus: {{cursus}}</dd>
			<dd>Cours: {{lecture}}</dd>
			<dd>Enseignant: {{prof}}</dd>
		</dl>
		<hr/>
		<li><a href="{{ path('sym16_simple_stock_produit',
		{'chiffre1':'5', 'chiffre2':'3'}) }}">produit</a></li>
		<li><a href="{{ path('sym16_simple_stock_ilike', 
		{'verbe':'les bananes'}) }}">iLike</a></li>
		<li><a href="{{ path('sym16_simple_stock_racine',
		{'valeur':'5', 'radical':'3'}) }}">Extraire la racine d'un nombre (pas encore implémenté)</a></li>
		<li><a href="{{ path('sym16_simple_stock_lister') }}">Lister le contenu d'un Tableau</a></li>
	</body>
</html>
